<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-2.4}" shoulder_pan_upper_limit="${0.8}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
    transmission_hw_interface="$(arg transmission_hw_interface)"

  />

 

  <!-- gripper -->
  <xacro:include filename="$(find ur5)/robotiq_description/urdf/robotiq_85_gripper.urdf.xacro" />
  <xacro:robotiq_85_gripper prefix="" parent="ee_link" >
	<origin xyz="0 0 0" rpy="${1.5708} 0 0" /> <!-- x must be greater than 0.004 -->
  </xacro:robotiq_85_gripper> 

  <!-- A ground plane -->
  <include>
    <uri>model://ground_plane</uri>
    <pose>0 0 0 0 0 0</pose>
  </include>

  <!-- base -->
  <xacro:include filename="$(find ur5)/urdf/base.urdf" />
  <xacro:base_ur5 parent="world" >
	<origin xyz="-1 0.425 ${-0.1-0.955}" rpy="${1.5708} 0 ${1.5708*0.5} " />
  </xacro:base_ur5> 

  <!-- camerabase -->
  <xacro:include filename="$(find ur5)/urdf/camera_mount.urdf" />
  <xacro:camera_mount parent="ee_link" >
	<origin xyz="${0.01} ${-(0.3-0.3+0.05)} 0" rpy="0 ${1.5708*2} 0" />
<!-- change x{0} value for position -->
  </xacro:camera_mount> 

  <!-- camera -->
  <xacro:include filename="$(find ur5)/urdf/camera.xacro" />
  <xacro:camera parent="ee_link" >
	<origin xyz="${-0.005+0.01} ${-0.08} ${-0.025}" rpy="${-1.5708} ${-1.5708} 0" />
<!-- change x{0} value for position -->
  </xacro:camera> 

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
  </joint>

</robot>
