<launch>

    <!-- state machines -->
    <group>
        <!-- main control node -->
        <node pkg="close_encounters_ur5" type="statemachine_control.py" name="statemachine_control" output="screen"/>

        <!-- idle node -->
        <node pkg="close_encounters_ur5" type="statemachine_idle.py" name="statemachine_idle" output="screen"/>

        <!-- invite node -->
        <node pkg="close_encounters_ur5" type="statemachine_invite.py" name="statemachine_invite" output="screen"/>

        <!-- set up node -->
        <node pkg="close_encounters_ur5" type="statemachine_set_up.py" name="statemachine_set_up" output="screen"/>

        <!-- take turn node -->
        <node pkg="close_encounters_ur5" type="statemachine_take_turn.py" name="statemachine_take_turn" output="screen"/>

        <!-- wait for player's turn node -->
        <node pkg="close_encounters_ur5" type="statemachine_wait_for_turn.py" name="statemachine_wait_for_turn" output="screen"/>

        <!-- react node -->
        <node pkg="close_encounters_ur5" type="statemachine_react.py" name="statemachine_react" output="screen"/>
    </group>

    <!-- service nodes -->
    <group>
        <!-- move queue node -->
        <node pkg="close_encounters_ur5" type="move_queue.py" name="move_queue" output="screen"/>
        
        <!-- vision node -->
        <node pkg="close_encounters_ur5" type="vision_node.py" name="vision_node" output="screen"/>

        <!-- memory node -->
        <node pkg="close_encounters_ur5" type="position_memory.py" name="position_memory_node" output="screen"/>
    </group>

</launch>