<launch>

    <!-- state machines -->
    <group>
        <!-- main control node -->
        <node pkg="close_encounters_ur5" type="statemachine_control.py" name="statemachine_control" output="screen"/>

        <!-- idle node -->
        <node pkg="close_encounters_ur5" type="statemachine_idle.py" name="statemachine_idle" output="screen"/>

        <!-- invite node -->
        <node pkg="close_encounters_ur5" type="statemachine_invite.py" name="statemachine_invite" output="screen"/>

        <!-- play node -->
        <node pkg="close_encounters_ur5" type="statemachine_play.py" name="statemachine_play" output="screen"/>

        <!-- react node -->
        <node pkg="close_encounters_ur5" type="statemachine_react.py" name="statemachine_react" output="screen"/>
    </group>

    <!-- service nodes -->
    <group>
        <!-- move queue node -->
        <node pkg="close_encounters_ur5" type="move_queue.py" name="move_queue" output="screen"/>
        
        <!-- vision node -->
        <node pkg="close_encounters_ur5" type="vision_node.py" name="vision_node" output="screen"/>

        <!-- memory node -->
        <node pkg="close_encounters_ur5" type="position_memory.py" name="position_memory_node" output="screen"/>
    </group>

</launch>